<!DOCTYPE html>
<html>
  <head>
    <title>Calculatie API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Calculatie API</h1>
    <p>Hier is echt niet veel te doen. Ga maar naar de frond-end!</p>
  </body>
</html>