<!DOCTYPE html>
<html>
  <head>
    <title>Hoofdcategorie Bewerken</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/hoofdcategorieen">Hoofdcategorie Lijst</a></h3>
      <h1>Bewerk Hoofdcategorie</h1>
      <form action="/hoofdcategorieen/update/<%= categorieen._id%>" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" value="<%= hoofdcategorie.naam %>" /></td>
            </tr>
            <tr>
              <td>Address</td>
              <td><textarea name="address"><%= hoofdcategorie.subcategorieen %></textarea></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Update</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>