<!DOCTYPE html>
<html>
  <head>
    <title>Hoofdcategorie lijst</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/hoofdcategorieen/create">Nieuwe hoofdcategorie</a></h3>
      <h1>Hoofdcategorie Lijst</h1>
      <% if(hoofdcategorieen.length>0) { %>
      <table>
        <thead>
          <tr>
            <th>Hoofdcategorie</th>
            <th>Subcategorieën</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<hoofdcategorieen.length;i++) { %>
            <tr>
              <td><a href="/hoofdcategorieen/show/<%= hoofdcategorieen[i]._id%>"><%= hoofdcategorieen[i].naam%></a></td>
              <td><%= hoofdcategorieen[i].Subcategorieen%></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>Er zijn nog geen Hoofdcategorieën.</div>
      <% } %>
    </div>
  </body>
</html>