<!DOCTYPE html>
<html>
  <head>
    <title>Hoofdcategorie Detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/hoofdcategorieen">Hoofdcategorie Lijst</a></h3>
      <h1>Employee Detail</h1>
      <table>
        <tbody>
          <tr>
            <td>Naam</td>
            <td>:</td>
            <td><%= hoofdcategorieen.naam %></td>
          </tr>
          <tr>
            <td>Subcategorieën</td>
            <td>:</td>
            <td><%= hoofdcategorieen.Subcategorieen %></td>
          </tr>
        </tbody>
      </table>
      <h3><a href="/hoofdcategorieen/edit/<%= hoofdcategorieen._id%>">EDIT</a></h3>
      <form action="/hoofdcategorieen/delete/<%= hoofdcategorieen._id%>" method="post">
        <button type="submit">DELETE</button>
      </form>
    </div>
  </body>
</html>